#top-banner-img {
    filter: brightness(50%);
}
/* media query by mobile and tablet device */
@media screen and (min-width: 50px) and (max-width:  992px) {
    .company-logo{
        display: none;
    }
}
/* larg device responsive */
@media screen and (min-width: 992px) and (max-width:  1400px) {
    .question-part{
        width: 75%;
    }
    
}